:root {
  --font-color: white;
  --body-bg-color: #282c34;
  --button-bg-color: palegoldenrod;
  --button-font-color: black;
  --button-hover-color: goldenrod;
  --button-active-color: gold;
}

.App {
  text-align: center;
}

.App-header {
  background-color: var(--body-bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--font-color);
}

.App-button {
  padding: 10px 20px;
  background-color: var(--button-bg-color);
  color: var(--button-font-color);
  font-weight: bold;
  margin-top: 20px;
}

.App-button:hover {
  background-color: var(--button-hover-color);
  cursor: pointer;
}

.App-button:active,
.App-button:focus {
  background-color: var(--button-active-color);
}
